SonLVL INI Files/dllcache
SonLVL INI Files/SonLVL.log
SonPLN.log
scbuilt.bin
scbuilt.prev.bin
main.lst
main.log

# mainly cause Amiga-Assembly extension on VS code does this..
make/*

# Hivebrains comment utility
Comment.bat
Comment.exe